
.container-acc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px;
    border: 1px solid lightgray;
}

label{
    font-size: 20px;
}
label::after{
    content: "*";
    color: red;
}
input:focus{
    outline: none;
}

input:valid{
    border: 1px solid forestgreen;
}

.btn-sub{
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: deepskyblue;
    cursor: pointer;
}
p{
    margin: 0;
    padding: 0;
}
.hr-top{
    border: 1px solid lightgray;
    width: 100%;
}
footer{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 50px;
    background-color: darkgrey;
}
.hr-bottom{
    border: 1px solid darkgrey;
    width: 100%;
}
