body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    text-align: justify;
    background-image: url(https://static4.depositphotos.com/1011764/302/i/450/depositphotos_3023431-stock-photo-brain.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: screen;
    padding-top: 0;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    height: 100%;
}

.introduction {
    text-align: center;
}

.h1 {
    text-align: center;
}

.address {
    text-align: center;
    text-decoration: solid;
    text-size-adjust: 5px;
}

.quote {
    text-align: center;
}

a:hover {
    background-color: aliceblue;
    color: black;
}

.image {
    display: inline-block;
    margin: 0;
    height: 100px;
    width: 300px;
    image-resolution: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 0;
}

.Intro {
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    width: 25%;
    text-align: center;
    padding: 10px;
    animation-name: intro;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

.links li a {
    display: block;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;
    color: white;
    text-decoration: none;
}
.links li{
    width: 150px;
}

.links {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: coral;
    list-style-type: none;
    
}

.links li a:hover {
    background-color: lightgrey;
    color: black;
}

.home:active {
    background-color: chartreuse;
}

.form {
    padding-left: 1px;
}

.button {
    background-color: green;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: azure;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5%;
    height: 100%;
    flex-wrap: wrap-reverse;
}


.footer a {
    text-decoration: none;
    text-justify: auto;
}
.social{
    text-align: center;
    width: 33.33333333%;
}
.fab{
    font-size: 25px;
    padding: 10px;
}
.social a{
    background-color: blueviolet;
    display: block;
    padding: 20px;
    margin: 5px;
}

.contact {
    text-align: center;
    padding: 0.5cm 0cm 0cm 0cm;
    width: 33.33333333%;
}

.about {
    text-align: center;
    padding: 0.5cm 0cm 0cm 0cm;
    width: 33.33333333%;

}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@keyframes intro{
    0% {color: black;}
    25% {color: coral;}
    50% {color: forestgreen;}
    100% {color: rgb(139, 38, 34);}
}

@media screen and (max-width: 600px){
    .links li a {
        display: block;
        margin: 0;
        width: 50%;
    }
    .links{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
    }
    .home{
        color: white;
        background-color: black;
    }

}
.logo{
    display: flex;
    flex-direction: column;
    height: auto;
}
hr{
    width: 300px;
}
